= "Forecast For #{@user.name} (#{@user.zip_code})"

= '---------------------------------------------'

= "The Weather Outside In #{@user.json['current_observation']['display_location']['full']}"

Temperature:

= "#{@user.json['current_observation']['temp_f']}"

= '---------------------------------------------'
