!!!
%html
  %head
    / If you delete this meta tag, Half Life 3 will never be released.
    %meta{content: "width=device-width", name: "viewport"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title ZURBemails
    -#%link{href: "stylesheets/emails/forecast.css", rel: "stylesheet", type: "text/css"}
  %body{bgcolor: "#FFFFFF", leftmargin: "0", marginheight: "0", marginwidth: "0", topmargin: "0"}
    /
      \----------------------------------
      \---- HEADER --------------------------
      \-----------------------------------
    -#%table.head-wrap{bgcolor: "#999999"}
    %table.head-wrap{bgcolor: "#043948"}
      %tr
        %td
        %td.header.container
          .content
            -#%table{bgcolor: "#999999"}
            %table{bgcolor: "#043948"}
              %tr
                %td
                  %img{src: "http://placehold.it/200x50/"}
                %td{align: "right", color: $light_gray}
                  %h5#navbar-title.collapse Forecast For #{@user.name} (#{@weather.zip_code})
        %td
    /
      \----------------------------------
      \---- BODY ----------------------------
      \-----------------------------------
    %table.body-wrap
      %tr
        %td
        %td.container{bgcolor: "#FFFFFF"}
          / content
          .content
            %table
              %tr
                %td
                  %h1 Good Morning, #{@user.name}
                  %p.lead The Weather Outside In #{@weather.json['current_observation']['display_location']['full']} today: #{raw("#{@weather.json['current_observation']['temp_f']} &deg; F")}
                  %p
                    = image_tag attachments['sunny_weather.jpe'].url
                  / /hero
                  / Callout Panel
                  %p.callout
                    = @weather.json['current_observation']['']
                    %a{href: "#"} Don't Do it Now! »
          / /Callout Panel
          / COLUMN WRAP
          .column-wrap
            .column
              %table{align: "left"}
                %tr
                  %td
                    %table.weather-sentences
                      - @weather.json['forecast']['txt_forecast']['forecastday'].first(4).each_with_index do |forecast,index|
                        %tr
                          %td{class: "#{('weather-sentences' if index < 3)} weather-sentences-icon"}
                            %img{src: forecast['icon_url']}
                          %td{class: ('weather-sentences' if index < 3)}
                            %strong #{forecast['title']}:
                            #{forecast['fcttext']}
                    %a.btn Don't Click Here »
            .column
              %table{align: "left"}
                %tr
                  %td
                    %ul.sidebar
                      %li.first
                        %a
                          %h5 Here is Today's Hourly Weather
                          %p Sub-head or something
                      -#- last = (0...@weather.json['hourly_forecast'].size).to_a.reverse.find {|x| x%2 == 0}
                      - @weather.json['hourly_forecast'].each_with_index do |forecast,index|
                        - if index%4 == 0
                          %li{class: ('last' if index == last)}
                            %table
                              %tr
                                %td.time #{forecast['FCTTIME']['civil']}:
                                %td #{raw("#{forecast['temp']['english']} &deg; F")}
                                %td Feels Like: #{raw("#{forecast['feelslike']['english']} &deg; F")}
                        - break if last? forecast['FCTTIME']['civil']
                    / social & contact
                    %table.social{bgcolor: "", width: "100%"}
                      %tr
                        %td
                          %table{align: "left", width: "100%"}
                            %tr
                              %td
                                %h6 Connect with Us:
                                %p
                                  %a.soc-btn.fb{href: "#"} Facebook
                                  %a.soc-btn.tw{href: "#"} Twitter
                                  %a.soc-btn.gp{href: "#"} Google+
                                %h6 Contact Info:
                                %p
                                  Phone:
                                  %strong 408.341.0600
                                  %br/
                                  Email:
                                  %strong
                                    %a{href: 'emailto:word.early@gmail.com'} word.early@gmail.com
            / /social & contact
            .clear
        / /COLUMN WRAP
        %td
    / FOOTER
    %table.footer-wrap
      %tr
        %td
        %td.container
          / content
          .content
            %table
              %tr
                %td{align: "center"}
                  %p
                    %a{href: "#"} Terms
                    |
                    %a{href: "#"} Privacy
                    |
                    %a{href: "#"}
                      %unsubscribe Unsubscribe
        / /content
        %td
    / /FOOTER