.wrapper
  .row.clearfix
    .main-weather.col-xs-12
      .leftside.col-xs-12.col-sm-6
        .front.col-xs-12
          .weather
            %ul.hourly
              - @response.get_hourly_forecast.each do |hour|
                %li= raw(hour)
            -#.temperature
            -#  %div Cody
            -#.time
            -#  %div Time
          .zip-code-container
            = link_to(@response.zip_code, weather_path, method: :delete, class: 'zip-code underline')
            = link_to('Change Zip Code?', weather_path, method: :delete, class: 'change-zip-code underline')
      .rightside.col-xs-12.col-sm-6
        .front.col-xs-12
          %ul.breakdown
            %li
              = @response.get_weather_icon
              %span= @response.weather_in_words
              %span= raw(@response.degrees_f)
            %li
              = @response.get_wind_icon
              %span= @response.formatted_wind
            %li
              %span.spacer
            %span= @response.weather_now_long
    .col-xs-12#custom-widgets

:javascript
  $(function() {
    window.router = new EarlyWord.Routers.WidgetsRouter({widgets: #{@widgets}});
    Backbone.history.start({root: '/weathers/:id'});
  });
