<span>
    <div class="col-xs-12"><%= location %></div>
    <div class="col-xs-12"><%= temperature %></div>
</span>

<!--<td><a href="#/<%= id %>">Show</td>-->
<!--<td><a href="#/<%= id %>/edit">Edit</td>-->
<!--<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>-->