%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
        %span.sr-only 'Toggle navigation'
        - 3.times do
          %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand', id: 'nav-home'
      - if signed_in?
        .col-xs-offset-4#welcome-message
          %p{class: 'visible-xs navbar-brand small navbar-text'}
            = "Welcome #{current_user.email}"
    .collapse.navbar-collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'User Page', '#'
        %li.dropdown
          = link_to "#",{ class: 'dropdown-toggle', 'data-toggle' => 'dropdown'} do
            User
            %b.caret
          %ul.dropdown-menu
            - if !user_signed_in?
              %li
                = link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'
              %li.divider
              %li
                = link_to 'Login', new_user_session_path, :class => 'navbar-link'
            - else
              %li
                = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'
              %li.divider
              %li
                = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
        - if user_signed_in?
          %li.hidden-xs.col-xs-push-2.col-md-push-6.col-lg-push-9.navbar-brand#welcome-message
            %a{href: '#'}
              = "Welcome #{current_user.email}"

      -#.nav.navbar-nav.navbar-right#nav-search
      -#  = render 'layouts/form'
