!!!
%html
  %head
    %title EarlyWord
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container-fluid
      #wrapper
        .row.col-xs-push-2.col-xs-8.box-shadow#main
          = render 'layouts/flash_messages'
          = yield
          .push
        = render 'layouts/footer'
        = debug(params) if Rails.env.development?